<template>
  <div class="aboutus">
    <img src="../assets/fesweb.png" alt />
    <div>
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
        necessitatibus aliquam odio id reiciendis sed praesentium voluptatum.
        Fuga Fuga Fuga sapiente laborum voluptatum, quas nobis praesentium
        quidem ratione, nemo vero aliquam!
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos id
        corporis incidunt distinctio illo magni tempore in vero eveniet, quidem
        laborum commodi iure quasi reiciendis deserunt recusandae error maiores
        similique!
      </p>
    </div>
  </div>
</template>
<style scoped>
.aboutus {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  padding: 120px 40px 20px;
  width: 100%;
  justify-content: center;
  min-height: 100vh;
}
img {
  height: 100%;
  width: 90%;
}
@media screen and (max-width: 800px) {
  .aboutus {
    flex-direction: column;
  }
}
</style>
