<template>
  <div class="cart">
    <h2>Your cart</h2>
    <div class="cartunit" v-if="cart.length">
      <p>Thank you for shopping with us.</p>

      <CartCard v-for="(item, index) in cart" :key="index" :item="item" />
      <h2>Total: € {{totalPrice}}</h2>
    </div>
    <div v-else>
      <p>
        Your cart is empty, why not
        <router-link to="/products">fill it up with something?</router-link>
      </p>
    </div>
  </div>
</template>

<script>
import CartCard from "../components/CartCard";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  name: "cartPage",
  data() {
    return {};
  },
  components: {
    CartCard
  },
  // mounted() {
  //   this.getCart();
  //   //console.log("items", this.items);
  // },

  methods: {
    ...mapActions(["getCart"])
  },

  computed: {
    ...mapState(["cart"]),
    ...mapGetters(["totalPrice"])
  }
};
</script>

<style scoped>
.cart {
  background-color: #eee;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 5px;
  min-height: 100vh;
}
.cartunit {
  width: 70%;
}

@media screen and (max-width: 600px) {
  .cartunit {
    width: 100%;
  }
}

h2 {
  margin: 0px;
  align-self: center;
}
a {
  text-decoration: none;
  color: rgb(64, 181, 248);
}
</style>
