<template>
  <div class="home">
    <Banner />
    <ShopNow />
    <NewsLetter />
  </div>
</template>

<script>
import Banner from "@/components/Banner.vue";
import ShopNow from "@/components/ShopNow.vue";
import NewsLetter from "@/components/NewsLetter.vue";

export default {
  name: "home",
  components: {
    Banner,
    ShopNow,
    NewsLetter
  }
};
</script>

<style scoped>
.home {
  min-height: 100vh;
}
</style>