<template>
  <section>
    <div class="products" v-for="product in products" :key="product.id">
      <router-link :to="`/products/${product.id}`">
        <ProductCard :name="product.name" :price="product.price" :imgUrl="product.imgUrl" />
      </router-link>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ProductCard from "@/components/ProductCard";
export default {
  name: "products",
  data() {
    return {};
  },
  components: {
    ProductCard
  },
  mounted() {
    this.getProducts();
  },
  methods: {
    ...mapActions(["getProducts"])
  },
  computed: {
    ...mapState(["products"])
  }
};
</script>
<style scoped>
section {
  background-color: #eee;
  padding: 100px 30px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
}
.products {
  width: 30%;
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 800px) {
  .products {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  section {
    padding: 100px 0px;
  }
  .products {
    width: 100%;
  }
}
</style>
