<template>
  <section>
    <ProductInfo v-if="product" :product="product" @newItem="newItem($event)" />
    <ProductDescription v-if="product" :product="product" />
  </section>
</template>

<script>
import ProductInfo from "@/components/ProductInfo";
import ProductDescription from "@/components/ProductDescription";
import { getOneProduct } from "@/services/products";
import { mapState } from "vuex";
export default {
  name: "singleProduct",
  data() {
    return {
      product: null,
      item: null
    };
  },
  components: {
    ProductInfo,
    ProductDescription
  },
  computed: {
    ...mapState(["products"])
  },
  created() {
    this.fetchData();
  },

  watch: {
    $route: "fetchData"
  },
  methods: {
    async fetchData() {
      this.product = await getOneProduct(this.$route.params.id);
    }
  }
  //   created() {
  //     const product = this.products.find(product => {
  //       //console.log(typeof (this.$route.params.id));
  //       return product.id.toString() === this.$route.params.id;
  //     });
  //     console.log(product);
  //     //   console.log(this.$route.params.id);
  //     this.product = product;
  //   }
};
</script>

<style scoped>
section {
  min-height: 100vh;
  padding: 80px 0px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
}
</style>