<template>
  <div class="banner">
    <div class="banner_left">
      <img src="../assets/fesweb.png" alt />
      <h1>
        Special
        <br />collection
      </h1>
    </div>
    <div class="banner_right">
      <h2>FASHON</h2>
      <h1>MEGA SALE</h1>
      <h3>50% OFF</h3>
    </div>
  </div>
</template>

<style scoped>
.banner {
  background-color: #eee;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner_left {
  display: flex;
  clip-path: circle(97% at 3% 50%);
  background-color: rgba(133, 227, 255, 0.8);
  height: 100%;
  width: 100%;
  align-items: center;
}
.banner_left > h1 {
  font-size: 48px;
  padding: 0 52px;
}
img {
  height: 300px;
}
.banner_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
@media screen and (max-width: 1100px) {
  img {
    height: 250px;
  }
  .banner_left > h1 {
    font-size: 24px;
    padding: 0 16px;
  }
}
@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    height: 100vh;
  }
  .banner_left {
    clip-path: circle(78.2% at 50% 21%);
    background-color: rgba(133, 227, 255, 0.8);
    padding: 60px 0;
    width: 100%;
    height: 100%;
  }
  .banner_left > h1 {
    font-size: 24px;
    padding: 0 16px;
  }
  img {
    height: 160px;
  }
  .banner_right {
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .banner_left > h1 {
    padding: 0;
  }
  .banner_right > h1 {
    font-size: 24px;
  }
}
</style>