<template>
  <div class="card">
    <p>{{ item.name }}</p>
    <p>Qunatity: {{ item.quantity }}</p>
    <p>€ {{ item.price * item.quantity }}</p>
    <button @click="handleRemove(item.id)">X</button>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: ["item", "quantity", "price", "total"],
  methods: {
    ...mapActions(["deleteCart"]),
    handleRemove(id) {
      this.deleteCart(id);
    }
  }
};
</script>

<style scoped>
.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(136, 135, 135);
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 8px;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 18px;
}
</style>
