<template>
  <div>
    <ul>
      <li>
        <router-link to="/aboutus">About us</router-link>
      </li>
      <li>
        <router-link to="/aboutus">Contact us</router-link>
      </li>
      <li>
        <router-link to="/online-store">Find a store</router-link>
      </li>
      <li>
        <router-link to="/products">Online shop</router-link>
      </li>
    </ul>
    <p>@copyright Web shop</p>
  </div>
</template>

<style scoped>
div {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top: 1px solid rgb(170, 169, 169);
}
ul {
  display: flex;
  padding: 0px;
  text-align: center;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
}
p,
a {
  padding: 0 16px;
  color: black;
}
@media screen and (max-width: 600px) {
  li {
    width: 100%;
    padding: 0px;
  }
}</style
>>
