<template>
  <header>
    <nav>
      <ul ref="nav">
        <div class="icon" @click="toggleNav">
          <i class="fas fa-bars fa-3x"></i>
        </div>

        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/products">Products</router-link>
        </li>
        <li>
          <router-link to="/aboutus">About Us</router-link>
        </li>
        <li>
          <router-link to="/cart">
            Cart
            <span>{{ cartCount }}</span>
          </router-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "NavigationBar",
  computed: {
    ...mapGetters(["cartCount"])
  },
  methods: {
    toggleNav() {
      const nav = this.$refs.nav.classList;
      nav.contains("active") ? nav.remove("active") : nav.add("active");
    }
  }
};
</script>

<style scoped>
header {
  background: white;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(170, 169, 169);
  z-index: 1;
}
span {
  background-color: rgb(146, 146, 146);
  color: white;
  padding: 2px 6px;
  border-radius: 50px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

header a {
  color: black;
  text-decoration: none;
  padding: 16px 30px;
}

header a:hover {
  color: #b9e0cd;
}

.icon {
  visibility: hidden;
}

header a.router-link-exact-active {
  color: #42b983;
}
@media screen and (max-width: 759px) {
  nav ul {
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 60%;
    flex-direction: column;
    left: -300px;
    transition: 300ms ease all;
    top: 60px;
  }
  nav .active {
    left: 0;
    height: 100vh;
    background-color: white;
  }

  .icon {
    visibility: visible;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 2px;
    padding: 8px;
  }

  li {
    align-self: center;
    font-size: 24px;
  }
}
</style>
