<template>
  <div>
    <h2>Subscribe for exclusive offers and get 10% off your first order</h2>
    <form action="submit">
      <input type="text" placeholder="example@mail.com" />
      <button>Subscribe</button>
    </form>
  </div>
</template>

<style scoped>
div {
  display: flex;
  flex-direction: column;
  flex-wrap: row wrap;
  align-items: center;
  padding: 32px 0;
  height: 220px;
  background-color: rgb(236, 236, 236);
}
input {
  height: 40px;
  width: 180px;
  margin: 0 16px;
  outline: none;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
}
button {
  background-color: rgb(47, 255, 255);
  border: none;
  width: 100px;
  height: 40px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  div {
    height: 160px;
  }
  h2 {
    font-size: 10px;
  }
  input {
    width: 120px;
    font-size: 10px;
  }
  button {
    width: 90px;
  }
}
</style>