<template>
  <div class="container">
    <img :src="product.imgUrl" alt />
    <div class="info">
      <h1>{{ product.name }}</h1>
      <h2>€ {{ product.price }}</h2>
      <div class="quantity">
        <button class="inc" @click="quantity > 0 ? (quantity -= 1) : 0">-</button>
        <span class="quant-text">
          Quantity:
          <span class="count">{{ quantity }}</span>
        </span>
        <button class="inc" @click="quantity += 1">+</button>
      </div>
      <button class="add_to_cart" :disabled="quantity<1" @click="addItem">Add to cart</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      quantity: 0
    };
  },
  props: {
    product: Object
  },
  methods: {
    ...mapActions(["addToCart"]),
    addItem() {
      const item = { ...this.product, quantity: this.quantity };
      this.addToCart(item);
      this.quantity = 0;
      // console.log(this.item);
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 20px 100px;
  background-color: #eee;
}
img {
  width: 30%;
}
.info {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  align-items: center;
  width: 70%;
}
button {
  border: none;
  border-radius: 1000px;
  padding: 8px 13px;
  outline: none;
  cursor: pointer;
}
button.inc {
  background: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
button.add_to_cart {
  background: black;
  color: white;
  margin: 20px 0 20px 20px;
  padding: 12px 14px;
  width: 240px;
  transition: 0.25s all ease-in;
}
button.add_to_cart:hover {
  opacity: 0.9;
  transition: 0.25s all ease-out;
}
button:disabled {
  background: rgb(153, 152, 152);
}
.quantity {
  display: inline-block;
  border: 2px solid black;
  width: 235px;
  padding-left: 3px;
  border-radius: 1000px;
  background: #fff;
  margin-left: 20px;
}
.quant-text {
  display: inline-block;
  text-align: center;
  width: 140px;
  padding: 8px;
  padding: 8px;
}
h1 {
  font-size: 32px;
  color: rgb(49, 42, 42);
  margin: 0px 0 16px;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(112, 56, 4);
  margin-top: 0px;
}
.count {
  font-weight: bold;
  padding-left: 16px;
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    padding: 20px 40px;
  }
  img {
    width: 100%;
  }
  .info {
    padding-left: 0px;
    align-items: center;
    width: 70%;
  }
}
</style>