<template>
  <div class="container">
    <div class="description">
      <h2>Overview</h2>
      <p>{{ product.description }}</p>
    </div>
    <div class="reviews">
      <h2>Reviews</h2>
      <div class="review_area">
        <span v-if="product.reviews.length">
          <p>{{ product.reviews.length }} reviews</p>
          <ul>
            <li v-for="(review, index) in product.reviews" :key="index">{{ review }}</li>
          </ul>
        </span>

        <p v-else>No Reviews !</p>
      </div>
      <form action="submit" @submit.prevent="addNewReview">
        <input type="text" v-model="newReview" placeholder="Write a review" />
      </form>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      newReview: ""
    };
  },
  props: {
    product: Object
  },

  methods: {
    ...mapActions(["addReview"]),
    addNewReview() {
      const newProduct = {
        ...this.product,
        rewiews: this.product.reviews.push(this.newReview)
      };
      const payload = {
        id: this.product.id,
        newProduct
      };
      this.addReview(payload);
      this.newReview = "";
    }
  }
};
</script>

<style scoped>
.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
  height: 100%;
}

.container > div {
  width: 45%;
  padding: 32px;
  margin: 10px;
}
.reviews p {
  color: rgb(100, 99, 99);
}
input {
  height: 40px;
  border-radius: 16px;
  width: 80%;
  outline: none;
  border: 1px solid #555;
  padding: 16px;
  margin-top: 8px;
}
.review_area {
  height: 200px;
  overflow-y: auto;
  overflow-wrap: break-word;
}
ul {
  list-style: none;
}
li {
  padding: 16px 0px;
  border-bottom: 1px solid rgb(223, 218, 218);
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .container > div {
    width: 100%;
  }
}
</style>