<template>
  <div class="product_card">
    <h2>{{ name }}</h2>
    <img :src="imgUrl" />
    <p>Price: € {{ price }}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  props: ["name", "imgUrl", "price"]
};
</script>

<style scoped>
.product_card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  padding: 20px 10px;
  margin: 30px;
}
img {
  width: 95%;
}
.product_card:hover {
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}
</style>
