<template>
  <div class="container">
    <h2 class="item1">SHOP NOW</h2>
    <router-link class="item2" to="/products">
      <p>Top Categories</p>
    </router-link>
    <router-link class="item3" to="/products">
      <p>Latest Fashion</p>
    </router-link>
    <router-link class="item4" to="/products">
      <p>Best Sellers</p>
    </router-link>
    <router-link class="item5" to="/products">
      <p>New Arrivals</p>
    </router-link>
  </div>
</template>

<style scoped>
.container {
  margin: 16px 100px;
  display: grid;
  grid-gap: 32px;
  padding: 10px;
}

.container > a {
  height: 300px;
  text-align: center;
  padding: 40px 0;
  font-size: 24px;
  text-decoration: none;
  color: black;
}
.item1 {
  grid-column: 1 / span 4;
  grid-row: 1;
}

.item2 {
  background-color: rgba(133, 227, 255, 0.8);
  grid-column: 1 / span 3;
  grid-row: 2;
}
.item3 {
  background-color: rgba(241, 228, 229, 0.8);
}
.item4 {
  background-color: rgba(205, 255, 236, 0.966);
}

.item5 {
  background-color: rgba(255, 187, 187, 0.8);
  grid-column: 2 / span 3;
  grid-row: 3;
}
h2 {
  text-align: center;
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .container {
    margin: 16px 20px;
  }
  .item2 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
  .item3 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  .item4 {
    grid-column: 1 / span 4;
    grid-row: 4;
  }

  .item5 {
    grid-column: 1 / span 4;
    grid-row: 5;
  }
}
</style>