<template>
  <div id="app">
    <NavigationBar />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import NavigationBar from "@/components/NavigationBar";
import Footer from "@/components/Footer";
export default {
  components: {
    NavigationBar,
    Footer
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  line-height: 2;
}
</style>
